# Environment variables used by deployment

# GitHub and GitLab
NEXT_PUBLIC_GITHUB_TOKEN=your_api_key_here
NEXT_PUBLIC_GITLAB_TOKEN=your_api_key_here

# Hugging Face 
NEXT_PUBLIC_HUGGINGFACE_API_KEY=your_api_key_here

# OpenAI
OPENAI_API_KEY=your_api_key_here

# ClaudeAI
CLAUDE_API_KEY=your_api_key_here

# Google Gemini AI
GOOGLE_GEMINI_API_KEY=your_api_key_here